<html>




<head> 
<h2 style="text-align:center"> Delhi University </h2>
 </head><hr />
<body>

<form action="/welcome"  method="GET">
  <div class="imgcontainer">   
  </div>
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required><br><br>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required><br><br>


    <button type="submit">Login</button><br><br><button><a href="/register">Sign Up</a></button><br><br>
    
    
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
  
  

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
</body>
</html>